.thumbnailWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnail {
  margin: 5px;
  opacity: 1;
  transition: 0.3s;
  width: 150px;
}

.thumbnail:hover {
  opacity: 0.6;
  cursor: pointer;
}