.previewTitle {
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 0;
}

.tag {
  color: #A0A0A0;
  text-decoration: none;
  display: inline-block;
  padding: .33333rem .5rem;
  line-height: 1;
  border-radius: 2px;
  border: 1px solid #A0A0A0;
  margin-right: .5em;
}

.preview {
  padding: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff5ed;
  height: 100%;
  text-align: center;
}

.preview p {
  text-align: center;
}

.preview:hover {
  background-color: white;
  cursor: pointer;
  border-color: lightgrey;
}