.navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 20vh;
  max-height: 100px;
  font-size: 1.25em;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
}

.navigationItem a:hover {
  transform: scale(1.1);
}

.navigationItem a {
  color: currentColor;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.navigationItem a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

.navigationItem a:hover:before {
  visibility: visible;
  transform: scaleX(0.7);
}
