.sidebar {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 3vmin 3vmin;
  align-items: center;
  text-align: center;
}

.sidebar h4 {
  text-transform: uppercase;
}

.sidebarContent {
  font-size: 0.9em;
}

.sidebarContent a {
  text-decoration: underline;
}

@media screen and (min-width: 680px) {
  .sidebar {
    max-width: 300px;
    text-align: justify;
  }
}